.logo {
  margin-right: 5px;
}

#dropdownMenuButton,
.add-customer {
  color: black;
  background-color: #70d9ff;
  border: none;
  text-decoration: none;
}

#dropdownMenuButton:hover,
.add-customer:hover {
  background-color: #00aeef;
  color: white;
}

#dropdownMenuButton:focus,
.add-customer:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(108 117 125 / 50%);
  background-color: #00aeef;
  color: white;
}

.fa-plus-square,
.fa-user,
.fa-home,
.fa-city,
.fa-building,
.fa-flag-usa,
.fa-map-pin,
.fa-id-card {
  margin-right: 5px;
}

.fa-sort-alpha-down {
  margin-left: 5px;
}

label {
  font-weight: 700;
}

h5 {
  line-height: 31px;
}

th {
  width: 25%;
}
